@layout STTproject.Shared.Layout.EmptyLayout
@page "/"

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<!-- Top Bar -->
<div class="top-bar">
    ENTRIÉL
</div>

<div class="login-page">
    <div class="login-wrapper">
        <div class="login-container">

            <form method="post" action="/login">

                <div class="input-group">
                    <label>Username</label>
                    <div class="input-wrapper">
                        <input type="text"
                               name="username"
                               placeholder="Enter username"
                               value="@Username" />
                    </div>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <div class="password-wrapper">
                        <input id="passwordInput" name="password" type="password" placeholder="Enter password" class="password-input" />
               
                       
                    </div>
                </div>

                @if (!string.IsNullOrWhiteSpace(loginErrorMessage))
                {
                    <p class="login-error">@loginErrorMessage</p>
                }

                <div class="role-options">
                    <label>
                        <input type="radio" name="role" value="Admin" checked="@IsAdminSelected" />
                        Admin
                    </label>
                    <label>
                        <input type="radio" name="role" value="Encoder" checked="@IsEncoderSelected" />
                        Encoder
                    </label>
                </div>

                <div class="remember">
                    <label>
                        <input type="checkbox" name="rememberMe" value="true" checked="@RememberMe" />
                        Remember Me
                    </label>
                </div>

                <button class="login-btn" type="submit">LOGIN</button>

                <div class="links">
                    <a href="#">Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>