@page "/"
@using STTproject.Components.Helper
@using System.Linq
@using STTproject.Data
@rendermode InteractiveServer

@inject AppDbContext db
@inject NavigationManager Navigation




<div class="container">
    <div class="title">
        <h2>Hello, Encoder!</h2>
    </div>

    <!-- CARDS -->
    <div class="cards">
        @foreach (var subd in db.SubDistributors)
        {
            <div class="card">

                <div class="card-content">
                    <h4>@subd.SubdCode</h4>
                    <div class="subdname">
                        <h3>@FormatHelper.ToAllCaps(subd.SubdName)</h3>
                    </div>
                   
                    <p>@FormatHelper.FormatLocation(subd.CityMunicipality, subd.Province)</p>
                </div>
                @* GoToInvoice(subd) *@
                <button class="invoice-btn" @onclick="GoToSalesInvoice">
                    INPUT INVOICE
                </button>

             

            </div>
        }
    </div>

   
    <div class="activity">
        <h3>Recent Activity...</h3>

        <div class="filters">
            <select>
                <option>ALL</option>
            </select>

            <input type="date" />
        </div>

        <table>
            <thead>
                <tr>
                    <th>BUTTON</th>
                    <th>SUB DISTRIBUTOR</th>
                    <th>INVOICE NUMBER</th>
                    <th>DATE</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var act in activities)
                {
                    <tr>
                        <td><button class="edit-btn">✏️</button></td>
                        <td>@act.Sub</td>
                        <td>@act.Invoice</td>
                        <td>@act.Date</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {

    class Activity
    {
        public string Sub { get; set; }
        public string Invoice { get; set; }
        public string Date { get; set; }
    }

    List<Activity> activities = new()
    {
        new() { Sub="01GMA06", Invoice="1162862", Date="03/13/2026" },
        new() { Sub="01GMA06", Invoice="1162861", Date="03/13/2026" },
        new() { Sub="01GMA06", Invoice="1162860", Date="03/13/2026" },
        new() { Sub="01GMA06", Invoice="1162879", Date="03/13/2026" },
        new() { Sub="01GMA06", Invoice="1162878", Date="03/13/2026" }
    };

    void GoToInvoice(Models.SubDistributor subd)
    {
        var url = $"/salesinvoice/{subd.SubdCode}" +
                  $"?name={Uri.EscapeDataString(subd.SubdName)}" +
                  $"&city={Uri.EscapeDataString(subd.CityMunicipality)}" +
                  $"&province={Uri.EscapeDataString(subd.Province)}";

        Navigation.NavigateTo(url);
    }

    private void GoToSalesInvoice()
    {
        // Navigates to the "/dashboard" route
        Navigation.NavigateTo("salesinvoice");
    }

}